# Python bytecode
*.py[codz]

# Logs
*.log

# Virtualenv
venv/
.history/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

*.zip

# Pretrained models
pretrained_model/*/*.bin
pretrained_model/*/*.msgpack
pretrained_model/*/*.safetensors
pretrained_model/*/*.h5
xunzillm/.qwen
fo/model/

# Dataset
fo/data/